###Unreal ignored files
#######################
*/Binaries/
*/Intermediate/
*/Saved/
*/Build
*/DerivedDataCache

###Visual Studio ignored files
#######################
*.VC.db
*.VC.
*.opendb


Game1/Content/StarterContent/
Game1/.vs/Game1/v15/
OldBinaries/
OldIntermidiate/
Release/
